body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(24, 24, 24);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    color: white;
    height: 100vh;
    margin: 0;
    padding: 0;
}